
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/LayOutMain.cshtml";
}
<link href="~/Content/Content_menu/Content_menu_page.css" rel="stylesheet" />
<script src="~/Scripts/Content_main/main_layout_homepage.js"></script>
<main>
    <h2><span class="span">Now showing</span></h2>
    <h2><span class="span">Coming soon</span></h2>
    <h2><span class="span">BHD Star and The World</span></h2>
    <h2><span class="span">Khuyến mãi</span></h2>
    <div class="slideshow-container">

        <!-- Slide 1 -->
        <div class="mySlides fade">
            <div class="deal_slide_layout_text">

                <img src="https://www.bhdstar.vn/wp-content/uploads/2024/09/3e6d64.jpg" class="deal_slide">

                <h4><a href="#">CHÀO MỪNG RẠP PHIM BHD STAR <br /> CINEPLEX ĐÃ CÓ MẶT TẠI PHÚ MỸ</a></h4>
                <p>CHÀO MỪNG RẠP PHIM BHD STAR CINEPLEX ĐÃ CÓ <br /> MẶT TẠI PHÚ MỸ</p>
            </div>

        </div>

        <!-- Slide 2 -->
        <div class="mySlides fade">
            <div class="deal_slide_layout_text">

                <img src="https://www.bhdstar.vn/wp-content/uploads/2023/08/Rectangle-21.png" class="deal_slide">

                <h4><a href="#">CHÀO MỪNG RẠP PHIM BHD STAR <br /> CINEPLEX ĐÃ CÓ MẶT TẠI PHÚ MỸ</a></h4>
                <p>CHÀO MỪNG RẠP PHIM BHD STAR CINEPLEX ĐÃ CÓ <br /> MẶT TẠI PHÚ MỸ</p>
            </div>

        </div>

        <!-- Slide 3 -->
        <div class="mySlides fade">
            <div class="deal_slide_layout_text">

                <img src="https://www.bhdstar.vn/wp-content/uploads/2024/09/3e6d64.jpg" class="deal_slide">

                <h4><a href="#">CHÀO MỪNG RẠP PHIM BHD STAR <br /> CINEPLEX ĐÃ CÓ MẶT TẠI PHÚ MỸ</a></h4>
                <p>CHÀO MỪNG RẠP PHIM BHD STAR CINEPLEX ĐÃ CÓ <br /> MẶT TẠI PHÚ MỸ</p>
            </div>

        </div>

        <!-- Slide 4 -->
        <div class="mySlides fade">
            <div class="deal_slide_layout_text">

                <img src="https://www.bhdstar.vn/wp-content/uploads/2024/09/3e6d64.jpg" class="deal_slide">

                <h4><a href="#">CHÀO MỪNG RẠP PHIM BHD STAR <br /> CINEPLEX ĐÃ CÓ MẶT TẠI PHÚ MỸ</a></h4>
                <p>CHÀO MỪNG RẠP PHIM BHD STAR CINEPLEX ĐÃ CÓ <br /> MẶT TẠI PHÚ MỸ</p>
            </div>

        </div>


        <!-- Next and previous buttons -->
        @*<a class="prev" onclick="plusSlides(-1)">&#10094;</a>*@
        @*<a class="next" onclick="plusSlides(1)">&#10095;</a>*@
    </div>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

</main>


