<!DOCTYPE html>

<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/CSS_HomePage/Footer.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
          rel="stylesheet" />
    <link href="~/Content/CSS_HomePage/CSS_Home_Page.css" rel="stylesheet" />
</head>
<body>
    <div class="Container">

        <header>

            <div>
                <img width="100%" src="https://www.bhdstar.vn/wp-content/uploads/2024/09/bannerTop.jpg" />
            </div>

            <div>

                <nav class="header-inner">

                    <ul>
                        <li> <img width="65%" src="https://www.bhdstar.vn/wp-content/uploads/2024/09/logo2024.png" />  </li>

                        <li class="Menu_Home">  <a href="">Lịch chiếu</a> </li>
                        <li class="Menu_Home"><a href="">Cửa Hàng</a></li>
                        <li class="Menu_Home"><a href="">  Khuyến Mãi/Sự kiện</a></li>
                        <li class="Menu_Home">

                            <a href="" class="menu_show">      Khác  <i class="ri-arrow-down-s-line"></i></a>
                            <ul class="dropdown-content">
                                <li><a href="#">Về Chúng tôi</a></li>
                                <li><a href="#">Dịch vụ quảng cáo</a></li>
                            </ul>

                        </li>
                    </ul>

                    <hr style="width:90%; opacity:0.3" />
                  

                </nav>

            </div>

        </header>

        <Main>

            <div>
                @RenderBody()
            </div>





        </Main>

        <Footer>


            <div class="Container_Footer">
                <div class="Container_Footer1">

                    
                    <div>
                        <h2>VỀ BHD STAR</h2>
                        <span class="image_green"> 22222222222222222</span>
                        <br />

                        <a href="#" class="menu_footer_hover">Hệ thống rạp</a>
                        <br />
                        <a href="#" class="menu_footer_hover">Cụm rạp</a>
                        <br />
                        <a href="#" class="menu_footer_hover">Liên hệ</a>
                        <br />

                        <img width="50%" src="https://www.bhdstar.vn/wp-content/uploads/2023/08/image-21.png" alt="Alternate Text" />

                    </div>
                    <div>
                        <h2>QUY ĐỊNH & ĐIỀU KHOẢN</h2>
                        <span class="image_green"> 22222222222222222</span>
                        <br />

                        <a href="#" class="menu_footer_hover">Quy định thành viên</a>
                        <br />
                        <a href="#" class="menu_footer_hover">Điều khoản</a>
                        <br />
                        <a href="#" class="menu_footer_hover">Hướng dẫn đặt vé trực tuyến</a>
                        <br />

                        <a href="#" class="menu_footer_hover">Quy định và chính sách chung</a>
                        <br />
                        <a href="#" class="menu_footer_hover">Chính sách bảo vệ thông tin cá nhân của người tiêu dùng</a>
                        <br />




                    </div>
                    <div>

                        <h2>CHĂM SÓC KHÁCH HÀNG</h2>
                        <span class="image_green"> 22222222222222222</span>
                        <br />
                        <p>Hotline: 19002099</p>
                        <p>Giờ làm việc: 9:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ, Tết)</p>
                        <p>Email hỗ trợ: cskh@bhdstar.vn</p>
                        <h3>MẠNG XÃ HỘI</h3>

                        <i class="ri-facebook-circle-line"></i>
                        <i class="ri-instagram-line"></i>
                        <i class="ri-tiktok-line"></i>
                        <i class="ri-youtube-line"></i>


                    </div>

                    

                </div>
              


                <div class="Container_Footer2">

                    <div>
                        <img   src="https://www.bhdstar.vn/wp-content/uploads/2023/08/logo.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <p>
                            Công ty TNHH MTV Ngôi Sao Cineplex BHD Việt Nam
                            <br />
                            Giấy CNĐKDN: Giấy phép kinh doanh số: 0104597158. Đăng ký lần đầu ngày 15 tháng 04 năm 2010
                            <br />
                            Địa Chỉ: Tầng 11, Tòa nhà Hồng Hà Building, Lý Thường Kiệt, P.Phan Chu Trinh, Quận Hoàn Kiếm, Hà Nội
                            <br />
                            Hotline: 19002099
                            <br />
                            COPYRIGHT 2010 BHD STAR. ALL RIGHTS RESERVED

                        </p>
                    </div>


                </div>

            </div>






        </Footer>
    </div>


</body>
</html>
